a {
    text-decoration: none;
    color: inherit;
}

.navBar {
    font-size: 1.25rem;
    
    flex: 1;
}

.navBar ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navBar li {
    list-style: none;
}