a {
    text-decoration: none;
    color: inherit;
}

.navBar {
    align-items: center;
    background-color: hsl(145, 45%, 50%);
}

.navBar ul {
    width: 100%;
}

.navBar li {
    list-style: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.25rem;
}

.navButton {
    padding-inline: 12;
    padding-block: 7;
    border-radius: 20;
}

.navBar .active {
    background-color: hsl(145, 45%, 35%);
}