@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: hsl(140, 4%, 16%);
    --text-color: hsl(150, 55%, 100%);
    --text-warning: hsl(0, 80%, 65%);
    --dark-background: hsl(0, 0%, 9%);
    --element-green: hsl(150, 70%, 50%);
}

html,
body {
    background-color: var(--background-color);
    margin: 0;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}

*::selection {
    color: var(--dark-background);
    background-color: var(--element-green);
}

a,
a:visited {
    text-decoration: none;
    color: var(--text-color);
    transition: color 100ms;
}

.link:hover {
    color: var(--element-green);
}

a,
p,
input,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
}

.flex {
    display: flex;
}

.flex-100 {
    width: 100%;
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-end {
    justify-content: flex-end;
}

.h-center {
    justify-content: center;
}

.v-center {
    align-items: center;
}

.direction-column {
    flex-direction: column;
}

.text.center {
    justify-content: center;
    display: flex;
    text-align: center;
}

.text.size-115 {
    font-size: 1.15rem;
}

.text.size-125 {
    font-size: 1.25rem;
}

.text.error {
    color: var(--text-warning)
}

.title {
    font-size: 1.75rem;
}

.bold {
    font-weight: bold;
}

.input {
    color: var(--text-color);
    background-color: var(--dark-background);
    border: none;
    border: 2px solid transparent;
    transition: border 100ms;

    font-size: 1rem;
}

.input.invalid,
.input.invalid:focus {
    border: 2px solid var(--text-warning) !important;
}

.input:focus {
    outline: none;
    border: 2px solid var(--element-green);
}


.button {
    transform: translateY(2px);
    background-color: var(--dark-background);
    border: none;
    color: var(--text-color);

    box-shadow: 0px 10px 50px -10px transparent;
    transition: box-shadow 150ms, background-color 150ms, color 150ms, transform 200ms,
}

.button:hover {
    background-color: var(--element-green);
    color: var(--dark-background);

    box-shadow: 0px 5px 50px -10px var(--element-green);
    transform: translateY(0px);
    cursor: pointer;
}

.button:active {
    --color: hsl(150, 70%, 40%);
    background-color: var(--color);
    box-shadow: 0px 10px 50px -10px var(--color);
    transform: translateY(1px);
}